In [12]:
import pandas
import json

In [7]:
with open('0a58ef5a-9f01-49bc-9bb7-f13ab042b80f_noPII.json') as data_file:   
    data1 = json.load(data_file)
with open('0ab502fb-87e9-4764-8bc8-778da2e2bcfb_noPII.json') as data_file:   
    data2 = json.load(data_file)
with open('0be25f06-b139-424d-8f78-f945dd32f1c9_noPII.json') as data_file:   
    data3 = json.load(data_file)

In [23]:
#data1

In [31]:
df_accounts = pandas.json_normalize(data1, record_path = ['AccountAllocations', 'Accounts'])[['Key', 'Description']]

In [32]:
df_accounts

       Key                           Description
0    Fixed                                 Fixed
1  FixedLT                               FixedLT
2     1YrA                1-Year Indexed Account
3     1YrD         1-Year No Cap Indexed Account
4     1YrF  1-Year High Cap Plus Indexed Account
5      Var                      Variable Account

In [51]:
df_allocations = pandas.json_normalize(data1, record_path = ['AccountAllocations', 'Accounts', 'FutureAllocations'], meta = [['AccountAllocations', 'Accounts', 'Key'], ['AccountAllocations', 'Accounts', 'Description']])[['AllocationPct', 'AccountAllocations.Accounts.Description']]

In [52]:
df_allocations

   AllocationPct AccountAllocations.Accounts.Description
0              0                                   Fixed
1              0                                 FixedLT
2              0                  1-Year Indexed Account
3              0           1-Year No Cap Indexed Account
4              0    1-Year High Cap Plus Indexed Account
5            100                        Variable Account

In [45]:
#data2

In [53]:
df_allocations2 = pandas.json_normalize(data2, record_path = ['AccountAllocations', 'Accounts', 'FutureAllocations'], meta = [['AccountAllocations', 'Accounts', 'Key'], ['AccountAllocations', 'Accounts', 'Description']])[['AllocationPct', 'AccountAllocations.Accounts.Description']]

In [54]:
df_allocations2

   AllocationPct AccountAllocations.Accounts.Description
0              0                                   Fixed
1              0                                 FixedLT
2              0                  1-Year Indexed Account
3              0           1-Year No Cap Indexed Account
4              0    1-Year High Cap Plus Indexed Account
5            100                        Variable Account

In [ ]:
#data3

In [55]:
df_allocations3 = pandas.json_normalize(data3, record_path = ['AccountAllocations', 'Accounts', 'FutureAllocations'], meta = [['AccountAllocations', 'Accounts', 'Key'], ['AccountAllocations', 'Accounts', 'Description']])[['AllocationPct', 'AccountAllocations.Accounts.Description']]

In [62]:
df_allocations3

   AllocationPct AccountAllocations.Accounts.Description
0              0                                   Fixed
1              0                                 FixedLT
2              0                  1-Year Indexed Account
3              0           1-Year No Cap Indexed Account
4              0    1-Year High Cap Plus Indexed Account
5            100                        Variable Account

In [64]:
merge = df_allocations.merge(df_allocations2, on = 'AccountAllocations.Accounts.Description')
merge = merge.merge(df_allocations3, on = 'AccountAllocations.Accounts.Description')
merge

,AllocationPct_x,AccountAllocations.Accounts.Description,AllocationPct_y,AllocationPct
0,0,Fixed,0,0
1,0,FixedLT,0,0
2,0,1-Year Indexed Account,0,0
3,0,1-Year No Cap Indexed Account,0,0
4,0,1-Year High Cap Plus Indexed Account,0,0
5,100,Variable Account,100,100