In [12]:
import pandas
import json

In [7]:
with open('0a58ef5a-9f01-49bc-9bb7-f13ab042b80f_noPII.json') as data_file:   
    data1 = json.load(data_file)
with open('0ab502fb-87e9-4764-8bc8-778da2e2bcfb_noPII.json') as data_file:   
    data2 = json.load(data_file)
with open('0be25f06-b139-424d-8f78-f945dd32f1c9_noPII.json') as data_file:   
    data3 = json.load(data_file)

In [23]:
#data1

In [31]:
df_accounts = pandas.json_normalize(data1, record_path = ['AccountAllocations', 'Accounts'])[['Key', 'Description']]

In [32]:
df_accounts

       Key                           Description
0    Fixed                                 Fixed
1  FixedLT                               FixedLT
2     1YrA                1-Year Indexed Account
3     1YrD         1-Year No Cap Indexed Account
4     1YrF  1-Year High Cap Plus Indexed Account
5      Var                      Variable Account

In [51]:
df_allocations = pandas.json_normalize(data1, record_path = ['AccountAllocations', 'Accounts', 'FutureAllocations'], meta = [['AccountAllocations', 'Accounts', 'Key'], ['AccountAllocations', 'Accounts', 'Description']])[['AllocationPct', 'AccountAllocations.Accounts.Description']]

In [65]:
df_allocations = pandas.json_normalize(data1, record_path = ['FundAllocationFuture'])

df_allocations2 = pandas.json_normalize(data1, record_path = ['FundAllocationFuture'])

df_allocations3 = pandas.json_normalize(data1, record_path = ['FundAllocationFuture'])

In [66]:
df_allocations

,Key,Name,Manager,Allocation,Type,Category,Group,InceptionDate,ManagementFees,OperatingExpenses,IFRCharge,AsOfDate,Asset,HistoricalData
0,VNGMI,Vanguard VIF Mid Cap Index,Vanguard,100%,Variable,Domestic Equity,IFR Funds,1999-02-09,0.15,0.02,0.39%,2020-12-31,0.001301,"[{'Year': '1999', 'RateOfReturn': '0'}, {'Year..."

In [67]:
df_allocations2

,Key,Name,Manager,Allocation,Type,Category,Group,InceptionDate,ManagementFees,OperatingExpenses,IFRCharge,AsOfDate,Asset,HistoricalData
0,VNGMI,Vanguard VIF Mid Cap Index,Vanguard,100%,Variable,Domestic Equity,IFR Funds,1999-02-09,0.15,0.02,0.39%,2020-12-31,0.001301,"[{'Year': '1999', 'RateOfReturn': '0'}, {'Year..."

In [68]:
df_allocations3

,Key,Name,Manager,Allocation,Type,Category,Group,InceptionDate,ManagementFees,OperatingExpenses,IFRCharge,AsOfDate,Asset,HistoricalData
0,VNGMI,Vanguard VIF Mid Cap Index,Vanguard,100%,Variable,Domestic Equity,IFR Funds,1999-02-09,0.15,0.02,0.39%,2020-12-31,0.001301,"[{'Year': '1999', 'RateOfReturn': '0'}, {'Year..."

In [45]:
#data2

In [53]:
df_allocations2 = pandas.json_normalize(data2, record_path = ['AccountAllocations', 'Accounts', 'FutureAllocations'], meta = [['AccountAllocations', 'Accounts', 'Key'], ['AccountAllocations', 'Accounts', 'Description']])[['AllocationPct', 'AccountAllocations.Accounts.Description']]

In [54]:
df_allocations2

   AllocationPct AccountAllocations.Accounts.Description
0              0                                   Fixed
1              0                                 FixedLT
2              0                  1-Year Indexed Account
3              0           1-Year No Cap Indexed Account
4              0    1-Year High Cap Plus Indexed Account
5            100                        Variable Account

In [ ]:
#data3

In [55]:
df_allocations3 = pandas.json_normalize(data3, record_path = ['AccountAllocations', 'Accounts', 'FutureAllocations'], meta = [['AccountAllocations', 'Accounts', 'Key'], ['AccountAllocations', 'Accounts', 'Description']])[['AllocationPct', 'AccountAllocations.Accounts.Description']]

In [62]:
df_allocations3

   AllocationPct AccountAllocations.Accounts.Description
0              0                                   Fixed
1              0                                 FixedLT
2              0                  1-Year Indexed Account
3              0           1-Year No Cap Indexed Account
4              0    1-Year High Cap Plus Indexed Account
5            100                        Variable Account

In [64]:
merge = df_allocations.merge(df_allocations2, on = 'AccountAllocations.Accounts.Description')
merge = merge.merge(df_allocations3, on = 'AccountAllocations.Accounts.Description')
merge

,AllocationPct_x,AccountAllocations.Accounts.Description,AllocationPct_y,AllocationPct
0,0,Fixed,0,0
1,0,FixedLT,0,0
2,0,1-Year Indexed Account,0,0
3,0,1-Year No Cap Indexed Account,0,0
4,0,1-Year High Cap Plus Indexed Account,0,0
5,100,Variable Account,100,100

In [69]:
merge = pandas.json_normalize(data1, record_path = ['Riders'])

In [70]:
merge

,Idx,Category,Name,Remark
0,1,Automatic,Conversion Rider,NaN
1,2,Automatic,Minimum Indexed Benefit Rider,NaN
2,3,Automatic,Overloan Protection 3 Rider,NaN
3,4,Optional,Accelerated Death Benefit Rider for Chronic an...,Check Opt Out
4,5,Automatic,No Lapse Guarantee Rider (Short-Term No Lapse ...,NaN
5,6,Optional,Accelerated Death Benefit Rider for Terminal I...,Added

Conversion Rider, Minimum Indexed Benefit Rider, Overloan Protection 3 Rider, and No Lapse Guarantee Rider (Short-Term No Lapse Guarantee) are Automatic.

In [ ]:
A Terminal Illness Rider gives the policy holder access to part of the coverage amount if he or she has been diagnosed as terminally ill with a life expectancy of 12 months or less. As a result of using life insurance funds early, after death the payout will be reduced by more than the rider payment.

In [ ]:
An Overloan Protection 3 Rider guarantees that a life insurance policy will not lapse.

In [ ]:
Accelerated Death Benefit Rider for Chronic and Terminal Illness (Premier Living Benefits Rider 2) and Accelerated Death Benefit Rider for Terminal Illness (Terminal Illness Rider) are Optional.

In [ ]:
A Minimum Indexed Benefit Rider is provided at no extra cost and provides a credit to charges to the account.

In [ ]:
A Conversion Rider allows the owner to convert their policy into cash at the 8th year of owning the policy.

In [ ]:
A Short-Term No Lapse Guarantee Rider is provided at no extra cost and guarantees that the Death Benefit is guaranteed.